.margin-auto, [auto-margin] {
  margin: auto
}

[text-center] {
  text-align: center;
  //white-space: normal;
  //overflow: visible;
}

[no-text-transform] {
  text-transform: none !important;
}

[fill-width] {
  min-width: 100%;
}

[fill-height] {
  min-height: 100%;
}

[fill-parent] {
  @extend [fill-width];
  @extend [fill-height];
}

[center-vertical] {
  display: flex;
  align-items: center;
}

.center-wrapper {
  text-align: center;
}

.center-wrapper * {
  margin-left: auto;
  margin-right: auto;
}

.center-line {
  @extend .center-wrapper;
  width: 100%;
}

.bold, [bold] {
  font-weight: bold;
}

[no-border] {
  border: 0 !important;
}
